<html>
    <head>   
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
    <div class="jumbotron jumbotron-fluid bg-danger text-white text-center" style="background: #aaa;">
        <div class="container">
            <h1 class="display-3">Login page..!!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="card-body">
                <h5 class="card-title">Login...</h5>
                <form class="form-signin">
                    <div class="form-label-group">
                        <input type="text" placeholder="Email address" required autofocus>
                    </div>   
                    <div class="form-label-group">
                        <input type="password" placeholder="Password">
                    </div>   
                    <a class="btn btn-primary" type="button" href="/teacherattendance">Login</a>
                    <hr>

                    <div class="form-label-group">
                        <input type="text" placeholder="Email address" required autofocus>
                    </div>   
                    <div class="form-label-group">
                        <input type="password" placeholder="Password">
                    </div>   
                    <a class="btn btn-primary" type="button" href="/studentattendance">Login as student</a>

                </form>    
            </div>    
        </div>
    </div>
    </body>    
</html> 