<html>
    <head>   
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
    <div class="jumbotron jumbotron-fluid bg-danger text-white text-center" style="background: #aaa;">
        <div class="container">
            <h1 class="display-3">Welcome To Attendane App</h1>
            <p class="lead">Take step towards!!!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="card-body">
                <h5 class="card-title">Registeration...</h5>
                <form class="form-signin">
                  
                    <div class="form-label-group">
                      <input type="text"  placeholder="First name"required autofocus>
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>   
                    <div class="form-label-group">
                      <input type="text"  placeholder="Last name" required>
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>    
                    <div class="form-label-group">
                      <input type="email" placeholder="Enter email" required>
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div> 
                    <div class="form-label-group">
                      <input type="password"  placeholder="Enter password" required>
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>   
                    <a class="btn btn-primary" type="button" href="/teacherattendance">Register</a>
                    <a class="btn btn-primary" href="/login">Login</a>
                    <a href="/student">I am student</a>  
                </form>    
            </div>    
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>    
</html> 